{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'peminjaman/css/style.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-between">
            <h5><b>Daftar Peminjaman</b></h5>
            <a href="{% url 'peminjaman:register-peminjaman' %}">
                <button class="btn add-btn-secondary">TAMBAH</button>
            </a>
        </div>
        <div class="filter-btn-group d-flex">
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-filter"></i> Filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-sort-amount-down"></i>
                    Sort
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover table-responsive-lg">
        <thead class="thead-light" align="center">
        <tr>
            <th>No Kartu Anggota</th>
            <th>Sepeda</th>
            <th>Stasiun</th>
            <th>Waktu Kembali</th>
            <th>Biaya</th>
            <th>Denda</th>
            <th></th>
        </tr>
        </thead>
        <tbody align="center">
        <tr>
            <td>1209028471</td>
            <td>GMB232401</td>
            <td>Duri</td>
            <td>23/08/19</td>
            <td>30000</td>
            <td>-</td>
            <td>
                <button type="button" class="btn btn-primary">RETURNED</button>
            </td>
        </tr>
        <tr>
            <td>1209028471</td>
            <td>GMB232402</td>
            <td>Duri</td>
            <td>25/08/19</td>
            <td>50000</td>
            <td>-</td>
            <td>
                <button type="button" class="btn btn-primary-return">KEMBALIKAN</button>
            </td>
        </tr>
        </tbody>
    </table>
    {% include 'partial/pagination.html' %}
{% endblock %}
