{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard Bike Sharing</title>


    <link rel="icon" href="{% static 'assets/bicycle.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    {% block extracss %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block extrascript %} {% endblock %}
</head>

<body>
{% include 'partial/header.html' %}
<section class="dashboard-container d-flex">
    <div class="menubar">
        <h6 class="menu-title">MENU</h6>
        <ul class="menu-list">
            {% if request.session.role == 'Petugas' %}
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'acara:list-acara' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-star"></i></div>
                        Daftar Acara
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'petugas:list-petugas' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-user-circle"></i></div>
                        Daftar Penugasan
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'stasiun:list-stasiun' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-map-marked-alt"></i></div>
                        Daftar Stasiun
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'sepeda:list-sepeda' %}">
                        <div class="img"><i class="fas fa-bicycle"></i></div>
                        Daftar Sepeda
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'voucher:list-voucher' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-ticket-alt"></i></div>
                        Daftar Voucher
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'peminjaman:list-peminjaman' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-newspaper"></i></div>
                        Daftar Peminjaman
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'laporan:list-laporan' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-address-book"></i></div>
                        Daftar Laporan
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'auth:logout' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-sign-out-alt"></i></div>
                        Logout
                    </a>
                </li>
            {% else %}
                <li class="d-flex align-items-center">
                    <div class="img d-flex align-items-center"><i class="fas fa-coins"></i></div>
                    Poin: 300
                </li>

                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'stasiun:list-stasiun' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-map-marked-alt"></i></div>
                        Daftar Stasiun
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'sepeda:list-sepeda' %}">
                        <div class="img"><i class="fas fa-bicycle"></i></div>
                        Daftar Sepeda
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'acara:list-acara' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-star"></i></div>
                        Daftar Acara
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'laporan:list-laporan' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-file-invoice-dollar"></i></div>
                        Daftar Laporan
                    </a>
                </li>

                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'peminjaman:list-peminjaman' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-newspaper"></i></div>
                        Daftar Peminjaman
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'voucher:list-voucher' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-ticket-alt"></i></div>
                        Daftar Voucher
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a class="menubar-link d-flex align-items-center" href="{% url 'auth:logout' %}">
                        <div class="img d-flex align-items-center"><i class="fas fa-sign-out-alt"></i></div>
                        Logout
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="content container">
        {% block content %} {% endblock %}
    </div>
</section>
</body>

</html>