.row {
    width: 100%;
}

.btn-primary {
    background-color: #4285F4;
    border-color: #4285F4;
    border-radius: 0;
    padding: 0.5rem;
}

.btn-secondary {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    color: black;
}

.btn-secondary:hover {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    color: #4285F4;
}

.btn-secondary:not(:last-child) {
    margin-right: 0.5rem;
}

.dropdown .fas {
    font-size: 1rem;
}

.table .thead-light th {
    background-color: #4285F4;
    color: white;
}

.content-info {
    margin-bottom: 1.5rem;
}

.add-btn-secondary {
    border-color: #4285F4;
    border-radius: 0;
    color: #4285F4;
    background-color: #FAFAFA;
    transition: 0.5s;
}

.add-btn-secondary:hover {
    color: #FAFAFA;
    background-color: #4285F4;
    transition: 0.5s;
}

.d-flex h5 {
    margin-right: 1rem;
    margin-bottom: 0;
}

.btn .btn-primary {
    background-color: #4285F4;
    font-size: 14px;
}

.btn-primary-return {
    font-size: 14px;
    background-color: #FAFAFA;
    color: #4285F4;
    border-radius: 0;
    border-color: #4285F4;
    transition: 0.5s;
}

.btn-primary-return:hover {
    transition: 0.5s;
    color: #FAFAFA;
    background-color: #4285F4;
}


.form-control {
    border-radius: 0;
    border-color: #4285F4;
}

.dropdown .btn-secondary {
    color: #495057;
    font-size: 14px;
}

.form-group input {
    font-size: 14px;
}

.form-group textarea {
    font-size: 14px;
}

.btn-primary {
    border-color: #4285F4;
    border-radius: 0;
    font-size: 14px;
}

.form .btn-secondary {
    border-color: #4285F4;
    border-radius: 0;
    color: #4285F4;
    background-color: #FAFAFA;
    transition: 0.5s;
}

.form .dropdown {
    width: 100%;
}

.form .btn-submit {
    font-size: 14px;
    border-color: #4285F4;
    background-color: #4285F4;
    color: #fff;
}

.nominal-input-form {
    height: 40px;
    width: 277px;
    font-family: 'Avenir';
    font-size: 14px;
    border: 1px solid #4285F4;
}