{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style-table.css' %}" />
{% endblock %}

{% block extrascript %}
<script src="{% static 'stasiun/js/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content-info d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-between">
        <h5><b>Daftar Acara</b></h5>
        {% if request.session.role == 'Petugas' %}
        <a href="{% url 'acara:admin-register-acara' %}">
            <button class="btn add-btn-secondary">TAMBAH</button>
        </a>
        {% endif %}
    </div>
    <div class="filter-btn-group d-flex">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-filter"></i> Filter
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-sort-amount-down"></i>
                Sort
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'acara:list-acara' %}">default</a>
                <a class="dropdown-item" href="{% url 'acara:sort-asc' %}">A to Z</a>
                <a class="dropdown-item" href="{% url 'acara:sort-desc' %}">Z to A</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover table-responsive-lg">
    <thead class="thead-light" align="center">
        <tr>
            <th>Judul</th>
            <th>Deskripsi</th>
            <th>Gratis</th>
            <th>Tanggal Mulai</th>
            <th>Tanggal Selesai</th>
            <th>Stasiun</th>
            {% if request.session.role == 'Petugas' %}
            <th>Action</th>
            {% endif %}

        </tr>
    </thead>
    <tbody align="center">
        {% for data in items %}
        <tr>
            <td>{{ data.judul }}</td>
            <td>{{ data.deskripsi }}</td>
            {% if data.is_free %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td>{{ data.tgl_mulai }}</td>
            <td>{{ data.tgl_akhir }}</td>
            <td>{{ data.nama }}</td>
            {% if request.session.role == 'Petugas' %}
            <td class="d-flex align-items-center justify-content-center"><a
                    href="{% url 'acara:admin-update-acara' %}"><i class="fas fa-pen"></i></a><a id="delete-1"
                    onclick="popUpModal()"><i class="fas fa-trash-alt"></i></a></td>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                Apakah benar ingin menghapus acara tersebut?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">TIDAK</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">YA</button>
            </div>
        </div>
    </div>
</div>
{% include 'partial/pagination.html' %}
{% endblock %}