{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style-table.css' %}" />
{% endblock %}

{% block content %}
<div class="content-info d-flex align-items-center justify-content-between">
    <h5><b>Tambah Acara</b></h5>
</div>
<form class="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="JUDUL ACARA">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="10" cols="90" placeholder="DESKRIPSI"></textarea>
    </div>
    <div class="form-group divided-form d-flex justify-content-between">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                FREE
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Ya</a>
                <a class="dropdown-item" href="#">Tidak</a>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="TANGGAL MULAI" onfocus="(this.type = 'date')">
        <input type="text" class="form-control" placeholder="TANGGAL SELESAI" onfocus="(this.type = 'date')">
    </div>
    <div class="form-group divided-form d-flex justify-content-between">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                NAMA STASIUN (MULTIVALUES)
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary btn-submit">SUBMIT</button>
        </div>


</form>
{% endblock %}