{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style-table.css' %}" />
{% endblock %}

{% block content %}
<div class="content-info d-flex align-items-center justify-content-between">
    <h5><b>Update Acara</b></h5>
</div>

<form class="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="ABC">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="10" cols="90" placeholder="Lorem Ipsum"></textarea>
    </div>
    <div class="form-group divided-form d-flex justify-content-between">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                Ya
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Ya</a>
                <a class="dropdown-item" href="#">Tidak</a>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="23/06/19" onfocus="(this.type = 'date')">
        <input type="text" class="form-control" placeholder="24/06/19" onfocus="(this.type = 'date')">
    </div>
    <div class="form-group divided-form d-flex justify-content-between">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                Duri
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Duri</a>
                <a class="dropdown-item" href="#">Duren Kalibata</a>
                <a class="dropdown-item" href="#">Lenteng Agung</a>
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary btn-submit">SUBMIT</button>
        </div>
    </div>
</form>
{% endblock %}