html, body {
    font-family: Avenir, serif;
    background-color: #E5E5E5;
    min-height: 100vh;
    width: 100vw;
}

/* Navbar */
.navbar {
    padding: 0.5rem 2rem;
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
}

/* Body */
.dashboard-container {
    height: calc(100vh - 71px);
}

.content {
    flex: 3;
    padding: 4rem 3rem;
    overflow-y: scroll;
}

.menubar {
    flex: 1;
    border: 1px solid #E5E5E5;
    background-color: #FAFAFA;
    padding: 2rem;
}

.menu-title {
    margin-bottom: 1.5rem;
}

.menu-list {
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.menu-list > li {
    margin-bottom: 2rem;
}

.menu-list > li:hover {
    cursor: pointer;
    transition: 0.5s;
    color: #4285F4;
}

.fas {
    font-size: 1.5rem;
}

.img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
}

.menubar-link {
    color: black;
    text-decoration: none;
}

.menubar-link:hover {
    transition: 0.5s;
    text-decoration: none;
    color: #4285F4;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E5E5E5;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content p {
    margin-bottom: 0;
}

.dropdown-container {
    padding: 12px 16px;
    transition: 0.5s;
}

.dropdown-content .dropdown-container:hover {
    cursor: pointer;
    color: white;
    background-color: #4285F4;
    transition: 0.5s;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s;
}

.page-number {
    border: 1px solid #4285F4;
    background-color: #fff;
    padding: 0.5rem 1rem;
    color: #4285F4;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: 0.5s;
}

.page-number:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: #4285F4;
    color: #FAFAFA;
}

.active-page {
    border: 1px solid #4285F4;
    background-color: #4285F4;
    padding: 0.5rem 1rem;
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    transition: none;
}

.active-page:hover {
    background-color: darkblue;
    text-decoration: none;
    transition: 0.5s;
}

.prev-page, .next-page {
    color: #4285F4;
    font-size: 2rem;
    text-decoration: none;
    transition: 0.5s;
}

.prev-page:hover, .next-page:hover {
    color: darkblue;
    transition: 0.5s;
}

@font-face {
    font-family: Avenir;
    src: url("../fonts/Avenir.ttc");
}