.add-btn-secondary {
    border-color: #4285F4;
    border-radius: 0;
    color: #4285F4;
    background-color: #FAFAFA;
    transition: 0.5s;
}

.add-btn-secondary:hover {
    color: #FAFAFA;
    background-color: #4285F4;
    transition: 0.5s;
}

.btn-secondary {
    border-radius: 0;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    color: black;
}

.btn-secondary:hover {
    background-color: #FAFAFA;
    color: #4285F4;
    border-color: #4285F4;
}

tbody .fas {
    margin-right: 1rem;
    font-size: 1rem;
}

.dropdown .fas {
    font-size: 1rem;
}

.table .thead-light th {
    background-color: #4285F4;
    color: white;
}

.content-info {
    margin-bottom: 1.5rem;
}

.d-flex h5 {
    margin-right: 1rem;
    margin-bottom: 0;
}

.divided-form>.form-control:not(:last-child) {
    margin-right: 1.5rem;
    margin-left: 0;
}

.form-control {
    border-radius: 0;
    border-color: #4285F4;
}

.dropdown .btn-secondary {
    color: #495057;
    font-size: 14px;
}

.form-group input {
    font-size: 14px;
}

.form-group textarea {
    font-size: 14px;
}

.btn-primary {
    border-color: #4285F4;
    border-radius: 0;
    font-size: 14px;
}

.form .btn-secondary {
    border-color: #4285F4;
    border-radius: 0;
    color: #4285F4;
    background-color: #FAFAFA;
    transition: 0.5s;
}

.form .dropdown {
    width: auto;
}

.form .btn-submit {
    font-size: 14px;
    border-color: #4285F4;
    background-color: #4285F4;
    color: #fff;
}

/* Modal Styling */
.modal-body {
    font-weight: 600;
    font-size: 2rem;
    padding: 3rem 2rem;
}

.modal-footer .btn {
    font-size: 14px;
    border-radius: 0;
}

.btn-primary {
    background-color: #4285F4;
}