{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'sepeda/css/style.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-center justify-content-between">
        <h5><b>Tambah Sepeda</b></h5>
    </div>
    <form class="form" method="POST">
        <div class="form-group divided-form d-flex justify-content-between">
            <input type="text" name="merk" class="form-control" placeholder="MERK">
            <input type="text" name="jenis" class="form-control" placeholder="JENIS">
        </div>
        <div class="form-group d-flex justify-content-between">
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    STATUS
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">TERSEDIA</a>
                    <a class="dropdown-item" href="#">TIDAK TERSEDIA</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    STASIUN
                </button>
                <div class="dropdown-menu">
                    {% for i in nama_stasiun %}
                        <a class="dropdown-item" href="#">{{ i.nama }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    PENYUMBANG
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-submit">SUBMIT</button>
        </div>
    </form>
{% endblock %}