{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'sepeda/css/style.css' %}"/>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'stasiun/js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-between">
            <h5><b>Daftar Sepeda</b></h5>
            {% if request.session.role == 'Petugas' %}
                <a href="{% url 'sepeda:register-sepeda' %}">
                    <button class="btn add-btn-secondary">TAMBAH</button>
                </a>
            {% endif %}
        </div>
        <div class="filter-btn-group d-flex">
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-filter"></i> Filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-sort-amount-down"></i>
                    Sort
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'sepeda:list-sepeda' %}">default</a>
                    <a class="dropdown-item" href="{% url 'sepeda:sort-asc' %}">A to Z</a>
                    <a class="dropdown-item" href="{% url 'sepeda:sort-desc' %}">Z to A</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover table-responsive-lg">
        <thead class="thead-light" align="center">
        <tr>
            <th>Nomor</th>
            <th>Merk</th>
            <th>Jenis</th>
            <th>Stasiun</th>
            <th>Status</th>
            <th>Penyumbang</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody align="center">
        {% for item in items %}
            <tr>
                <td>{{ item.nomor }}</td>
                <td>{{ item.merk }}</td>
                <td>{{ item.jenis }}</td>
                <td>{{ item.id_stasiun.nama }}</td>
                {% if item.status %}
                    <td>Tersedia</td>
                {% else %}
                    <td>Tidak Tersedia</td>
                {% endif %}
                <td>{{ item.no_kartu_penyumbang.ktp.nama }}</td>
                {% if request.session.role == 'Petugas' %}
                    <td class="d-flex align-items-center justify-content-center"><a
                            href="{% url 'sepeda:update-sepeda' nomor=item.nomor %}"><i class="fas fa-pen"></i></a><a
                            id="delete-1"
                            onclick="popUpModal()"><i class="fas fa-trash-alt"></i></a></td>
                {% else %}
                    <td>
                        <a href="{% url 'peminjaman:register-peminjaman' %}">
                            <button class="btn btn-primary">PINJAM</button>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body">
                    Apakah benar ingin menghapus sepeda tersebut?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">TIDAK</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">YA</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'partial/pagination.html' %}
{% endblock %}