{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'sepeda/css/style.css' %}" />
{% endblock %}

{% block content %}
<div class="content-info d-flex align-items-center justify-content-between">
    <h5><b>Update Sepeda</b></h5>
</div>
<form class="form">
    <div class="form-group divided-form d-flex justify-content-between">
        <input type="text" class="form-control" placeholder="BMX">
        <input type="text" class="form-control" placeholder="Dewasa">
    </div>
    <div class="form-group d-flex justify-content-between">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                TERSEDIA
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">TERSEDIA</a>
                <a class="dropdown-item" href="#">TIDAK TERSEDIA</a>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                Stasiun Depok 1
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                -
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
    </div>
    <div class="form-group d-flex justify-content-end">
        <button type="submit" class="btn btn-secondary btn-submit">SUBMIT</button>
    </div>
</form>
{% endblock %}