.btn-primary {
    background-color: #4285F4;
    border-color: #4285F4;
    border-radius: 0;
    padding: 0.5rem;
}

.btn-secondary {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    color: black;
}

.btn-secondary:hover {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    color: #4285F4;
}

.btn-secondary:not(:last-child) {
    margin-right: 0.5rem;
}

.dropdown .fas {
    font-size: 1rem;
}

.table .thead-light th {
    background-color: #4285F4;
    color: white;
}

.content-info {
    margin-bottom: 1.5rem;
}

.add-btn-secondary {
    border-color: #4285F4;
    border-radius: 0;
    color: #4285F4;
    background-color: #FAFAFA;
    transition: 0.5s;
}

.add-btn-secondary:hover {
    color: #FAFAFA;
    background-color: #4285F4;
    transition: 0.5s;
}

.d-flex h5 {
    margin-right: 1rem;
    margin-bottom: 0;
}

tbody .fas {
    margin-right: 1rem;
    font-size: 1rem;
}
