{% extends 'base/base-admin.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'peminjaman/css/style.css' %}"/>
{% endblock %}

{% block content %}
<div class="content-info d-flex align-items-center justify-content-between">
        <h5><b>Tambah  Voucher</b></h5>
</div>
    <form action="{% url 'voucher:tambah-voucher' %}" method="POST">
            {% csrf_token %}
        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label>Kategori</label>
            <input type="text" class="form-control" id="inputKategori" placeholder="Enter Kategori">
        </div>
        <div class="form-group">
            <label>Nilai Poin</label>
            <input type="text" class="form-control" id="inputNilaiPoin" placeholder="Enter Nilai Poin">
        </div>
        <div class="form-group">
            <label>Deskripsi</label>
            <input type="text" class="form-control" id="inputDeksripsi" placeholder="Enter Deskripsi">
        </div>
        <div class="form-group">
            <label>Jumlah</label>
            <input type="text" class="form-control" id="inputJumlah" placeholder="Enter Jumlah">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}