{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-table.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-center justify-content-between">
        <h5><b>Update Voucher</b></h5>
    </div>

    <form>
        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp"
                   placeholder="Voucher Belanja">
        </div>
        <div class="form-group">
            <label>Kategori</label>
            <input type="text" class="form-control" id="inputKategori" placeholder="Belanja">
        </div>
        <div class="form-group">
            <label>Nilai Poin</label>
            <input type="text" class="form-control" id="inputNilaiPoin" placeholder="300">
        </div>
        <div class="form-group">
            <label>Deskripsi</label>
            <input type="text" class="form-control" id="inputDeksripsi" placeholder="Gratis Belanja">
        </div>
        <div class="form-group">
            <label>Jumlah</label>
            <input type="text" class="form-control" id="inputJumlah">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}