{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style-table.css' %}" />
{% endblock %}

{% block content %}
<div class="content-info d-flex align-items-center justify-content-between">
    <h5><b>Tambah Penugasan</b></h5>
</div>
<form class="form">
    <div class="form-group divided-form d-flex justify-content-between">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                NAMA PETUGAS
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">PETUGAS A</a>
                <a class="dropdown-item" href="#">PETUGAS B</a>
                <a class="dropdown-item" href="#">PETUGAS C</a>
            </div>
        </div>
    </div>
    <div class="form-group divided-form d-flex justify-content-between">
        <input type="text" class="form-control" placeholder="TANGGAL MULAI" onfocus="(this.type = 'date')">
        <input type="text" class="form-control" placeholder="TANGGAL SELESAI" onfocus="(this.type = 'date')">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                STASIUN
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
    </div>
    <div class="form-group d-flex justify-content-end">
        <button type="submit" class="btn btn-secondary btn-submit">SUBMIT</button>
    </div>
</form>
{% endblock %}