{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style-table.css' %}" />
{% endblock %}

{% block content %}
<div class="content-info d-flex align-items-center justify-content-between">
    <h5><b>Update Penugasan</b></h5>
</div>

<form class="form">
    <div class="form-group divided-form d-flex justify-content-between">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                Doe
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Doe</a>
                <a class="dropdown-item" href="#">Mirae</a>
                <a class="dropdown-item" href="#">Josh C</a>
            </div>
        </div>
    </div>
    <div class="form-group divided-form d-flex justify-content-between">
        <input type="text" class="form-control" placeholder="23/05/19" onfocus="(this.type = 'date')">
        <input type="text" class="form-control" placeholder="24/05/19" onfocus="(this.type = 'date')">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                Duri
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Duri</a>
                <a class="dropdown-item" href="#">Duren Kalibata</a>
                <a class="dropdown-item" href="#">Manggarai</a>
            </div>
        </div>
    </div>
    <div class="form-group d-flex justify-content-end">
        <button type="submit" class="btn btn-secondary btn-submit">SUBMIT</button>
    </div>
</form>
{% endblock %}