{% extends 'base/base-anggota.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'topup/css/style.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-start justify-content-between">
        <div class="d-flex align-items-center justify-content-between">
            <h5><b>TOP UP FORM</b></h5>
        </div>
    </div>
    <div class="content-nominal">
        <div class="row">
            <form action="#" method="POST" class="topup-form">
                {% csrf_token %}
                {{ topup_form.nominal }} <br><br>
                <input id="submit" type="submit" value="SUBMIT" class="btn add-btn-secondary">
            </form>
        </div>
    </div>
{% endblock %}