{% extends 'base/base-anggota.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'transaksi/css/style.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-between">
            <h5><b>Daftar Transaksi</b></h5>
            <a href="{% url 'topup' %}">
                <button class="btn add-btn-secondary">TOP UP</button>
            </a>
        </div>
        <div class="filter-btn-group d-flex">
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-filter"></i> Filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-sort-amount-down"></i>
                    Sort
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover table-responsive-lg">
        <thead class="thead-light" align="center">
        <tr>
            <th>No</th>
            <th>Tanggal</th>
            <th>Jenis Transaksi</th>
            <th>Nominal</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr>
            <td>1</td>
            <td>27 Februari 2019</td>
            <td>Peminjaman sepeda</td>
            <td>12.58</td>
        </tr>
        <tr>
            <td>2</td>
            <td>28 Mei 2018</td>
            <td>Top up</td>
            <td>17.38</td>
        </tr>
        </tbody>
    </table>
    {% include 'partial/pagination.html' %}
{% endblock %}