p {
    font-size: 16px;
    font-family: 'Avenir';
}

.login-section {
    background-color: #FAFAFA;
    min-height: calc(100vh - 75px);
    padding: 2rem 3rem 1rem 3rem;
    width: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.greeting-text {
    margin-bottom: 2rem;
}

.dropdown {
    display: none;
}

[class*="col-"] {
    float: left;
}

@font-face {
    font-family: 'Avenir';
    src: url("../fonts/Avenir.ttc");
}

.navbar {
    border: 2px solid #E5E5E5;
    background-color: #FAFAFA;
}

.sepeda-gambar {
    height: auto;
    max-width: 100%;
}

.img-sepeda {
    object-fit: scale-down;
    width: 600px;
}

#id_alamat {
    height: 60px;
}

#id_peran {
    font-family: 'Avenir';
    width: 100px;
    border: 1px solid #4285F4;
}

.login-input-form {
    height: 40px;
    width: 400px;
    font-family: 'Avenir';
    font-size: 12px;
    border: 1px solid #4285F4;
    text-indent: 10px;
}

.signup-input-form {
    height: 40px;
    width: 400px !important;
    font-family: 'Avenir';
    font-size: 12px;
    border: 1px solid #4285F4;
    text-indent: 10px;
}

.login-button {
    background-color: #4285F4;
    height: 40px;
    width: 100px;
    border-radius: 0;
    font-family: 'Avenir';
    color: white;
}

.signup-button {
    background-color: white;
    height: 40px;
    width: 100px;
    border-radius: 0;
    border: 1px solid #4285F4;
    font-family: 'Avenir';
}

.btn {
    font-size: 14px !important;
    width: 400px;
}