{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'peminjaman/css/style.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-center justify-content-between">
        <h5><b>Tambah Peminjaman</b></h5>
    </div>
    <form class="form">
        <div class="form-group divided-form d-flex justify-content-between">
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    SEPEDA STASIUN
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">STASIUN 1</a>
                    <a class="dropdown-item" href="#">STASIUN 2</a>
                    <a class="dropdown-item" href="#">STASIUN 3</a>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary btn-submit">SUBMIT</button>
        </div>
    </form>
{% endblock %}