{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'stasiun/css/style.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-center justify-content-between">
        <h5><b>Tambah Stasiun</b></h5>
    </div>
    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="nama" class="form-control" placeholder="NAMA">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="alamat" rows="10" cols="90" placeholder="ALAMAT"></textarea>
        </div>
        <div class="form-group divided-form d-flex justify-content-between">
            <input type="text" name="lat" class="form-control" placeholder="LATITUDE">
            <input type="text" name="long" class="form-control" placeholder="LONGITUDE">
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary btn-submit">SUBMIT</button>
        </div>
    </form>
{% endblock %}