{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'stasiun/css/style.css' %}"/>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'stasiun/js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-between">
            <h5><b>Daftar Stasiun</b></h5>
            {% if request.session.role == 'Petugas' %}
                <a href="{% url 'stasiun:register-stasiun' %}">
                    <button class="btn add-btn-secondary">TAMBAH</button>
                </a>
            {% endif %}
        </div>
        <div class="filter-btn-group d-flex">
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-filter"></i> Filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-sort-amount-down"></i>
                    Sort
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'stasiun:list-stasiun' %}">default</a>
                    <a class="dropdown-item" href="{% url 'stasiun:sort-asc' %}">A to Z</a>
                    <a class="dropdown-item" href="{% url 'stasiun:sort-desc' %}">Z to A</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover table-responsive-lg">
        <thead class="thead-light" align="center">
        <tr>
            <th>No.</th>
            <th>Nama Stasiun</th>
            <th>Alamat</th>
            <th>Latitude</th>
            <th>Longitude</th>
            {% if request.session.role == 'Petugas' %}
                <th>Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody align="center">
        {% for item in items %}
            <tr>
                <td>{{ item.id_stasiun }}</td>
                <td>{{ item.nama }}</td>
                <td>{{ item.alamat }}</td>
                <td>{{ item.lat }}</td>
                <td>{{ item.long }}</td>
                {% if request.session.role == 'Petugas' %}
                    <td class="d-flex align-items-center justify-content-center"><a
                            href="{% url 'stasiun:update-stasiun' nomor=item.id_stasiun %}"><i class="fas fa-pen"></i></a><a
                            id="delete-1"
                            onclick="popUpModal()"><i class="fas fa-trash-alt"></i></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body">
                    Apakah benar ingin menghapus stasiun tersebut?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">TIDAK</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">YA</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'partial/pagination.html' %}
{% endblock %}