{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'stasiun/css/style.css' %}" />
{% endblock %}

{% block content %}
<div class="content-info d-flex align-items-center justify-content-between">
    <h5><b>Update Stasiun</b></h5>
</div>
<form class="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Stasiun Depok 1">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="10" cols="90" placeholder="Jl. Haji Amat I"></textarea>
    </div>
    <div class="form-group divided-form d-flex justify-content-between">
        <input type="text" class="form-control" placeholder="0.3332">
        <input type="text" class="form-control" placeholder="0.5823">
    </div>
    <div class="form-group d-flex justify-content-end">
        <button type="submit" class="btn btn-secondary btn-submit">SUBMIT</button>
    </div>
</form>
{% endblock %}