{% extends 'base/base-admin.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'voucher/css/style.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content-info d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-between">
            <h5><b>Daftar Voucher</b></h5>
            <a href="{% url 'admin-register-voucher' %}">
                <button class="btn add-btn-secondary">TAMBAH</button>
            </a>
        </div>
        <div class="filter-btn-group d-flex">
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-filter"></i> Filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-sort-amount-down"></i>
                    Sort
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover table-responsive-lg">
        <thead class="thead-light" align="center">
        <tr>
            <th>ID Voucher</th>
            <th>Nama</th>
            <th>Kategori</th>
            <th>Nilai Poin</th>
            <th>Deskripsi</th>
            <th>Diklaim Oleh</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr>
            <td>1111q</td>
            <td>Voucher Belanja</td>
            <td>Belanja</td>
            <td>300</td>
            <td>Gratis Belanja</td>
            <td> -</td>
           <td class="d-flex align-items-center justify-content-center">
               <a href="{% url 'admin-update-voucher' %}"><i class="fas fa-pen"></i></a>
               <a id="delete-2" data-toggle="modal" data-target="#myModal" onclick="popUpModal()"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        </tbody>
    </table>
<div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body">
                    Apakah benar ingin menghapus voucher tersebut?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">TIDAK</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">YA</button>
                </div>
            </div>
        </div>
    </div>
{% include 'partial/pagination.html' %}
{% endblock %}


