{% load static %}
<header>
    <nav class="navbar">
        <img src="{% static 'assets/logo.svg' %}" alt="logo" />
        <div class="dropdown">
            <img class="rounded-circle" width="40" height="40" src="{% static 'assets/user.png' %}">
            <div class="dropdown-content">
                <div class="dropdown-container">
                    <p>Log Out</p>
                </div>
            </div>
        </div>
    </nav>
</header>