{% load template_tags %}
<div class="pagination d-flex justify-content-center align-items-center">
    <a class="prev-page"
       href="{% if items.has_previous %}?{% url_replace page=items.previous_page_number %} {% else %}#{% endif %}"><i
            class="prev-page fas fa-angle-left"></i></a>
    {% for i in items.paginator.page_range %}
        {% if i <= items.number|add:1 and i >= items.number|add:-1 %}
            <a class="page-number {% if forloop.counter == items.number %}active-page{% endif %}"
               href="?{% url_replace page=forloop.counter %}">{{ forloop.counter }}</a>
        {% endif %}
    {% endfor %}
    <a class="next-page"
       href="{% if items.has_next %}?{% url_replace page=items.next_page_number %}{% else %}#{% endif %}"><i
            class="next-page fas fa-angle-right"></i>
    </a>
</div>