{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Welcome to Bike Sharing</title>

    <link rel="icon" href="{% static 'assets/bicycle.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
{% include 'partial/header.html' %}

<section class="login-section">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-7">
            <div class="greeting-text">
                <h3 style="font-weight: bold; font-family: 'Avenir',serif;">Welcome to BikeSharing!</h3>
                <p>your best choice for bike-renting</p>
            </div>
            <div class="img-sepeda">
                <img src="{% static 'registration/images/sepeda.png' %}" class="sepeda-gambar" alt="sepeda">
            </div>
        </div>
        <div class="col-5">
            <h4 style="font-weight: bold; font-family: 'Avenir',serif;">Login Form</h4>
            <br>
            <div style="font-size:12px; color:red;">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                {% endif %}
            </div>
            <form method="POST" class="signup-form">
                <div class='form'>
                    {% csrf_token %}
                    {{ login_form.ktp }} <br><br>
                    {{ login_form.email }} <br><br>
                </div>
                <div class="d-flex flex-wrap">
                    <button class="btn btn-default login-button">LOGIN</button>
                </div>
                <br>
            </form>
            <a class="btn btn-default signup-button" href="{% url 'auth:registration' %}">SIGN UP
            </a>
        </div>
    </div>
</section>
</body>

</html>