{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Welcome to Bike Sharing</title>

    <link rel="icon" href="{% static 'assets/bicycle.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>

<body>
{% include 'partial/header.html' %}
<section class="login-section">
    <div class="row d-flex justify-content-between">
        <div class="col-7">
            <div class="greeting-text">
                <h3 style="font-weight: bold; font-family: 'Avenir';">Welcome to BikeSharing!</h3>
                <p>your best choice for bike-renting</p>
            </div>
            <div class="img-sepeda">
                <img src="{% static 'registration/images/sepeda.png' %}" class="sepeda-gambar" alt="sepeda">
            </div>
        </div>
        <div class="col-5">
            <h4 style="font-weight: bold; font-family: 'Avenir';">Registration Form</h4>
            <div style="font-size:12px; color:red;">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                {% endif %}
            </div>
            <form method="POST" class="signup-form">
                <div class='form'>
                    {% csrf_token %}
                    <p>Pilih peran anda : </p> {{ signup_form.peran }} <br><br>
                    {{ signup_form.ktp }} <br><br>
                    {{ signup_form.email }}<br><br>
                    {{ signup_form.nama }} <br><br>
                    {{ signup_form.no_telp }} <br><br>
                    {{ signup_form.tgl_lahir }} <br><br>
                    {{ signup_form.alamat }} <br><br>
                </div>
                <p>Already a member? <a href="{% url 'auth:login' %}" style='font-weight: bold'>Login</a> here</p>
                <div>
                    <button onclick="sweetAlert()" class="btn btn-default login-button"
                            style="width: 400px; height: 44px; color:white; font-size: 14px">CREATE
                        ACCOUNT
                    </button>
                </div>
                <br>
            </form>
        </div>
    </div>
</section>
</body>
<script>
    function sweetAlert() {
        let ktp = $('#id_ktp').val();
        let email = $('#id_email').val();
        if (ktp.length !== 0 && email.length !== 0) {
            Swal.fire(
                'Registration Successful!',
                'User successfully saved',
                'success'
            )
        }
    }
</script>
</html>